.head-background {
    height: 150px;
    background-image: url('images/background.jpg');
    background-size: auto;
    text-align: right;
}

.body-image-background {
    background-image: url('images/card-body-background.jpg');
    background-size: cover;
}

h1 {
    color: rgb(10, 10, 10);
    font-family: Cursive;
    font-style: italic;
}

h2 {
    font-family: "Verdana", sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    color: #333; 
    margin: 10px 0; 
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

h2::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}
  
/* Efeito de sublinhado ao passar o mouse */
h2:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

h3 {
    font-family: "Verdana", sans-serif; 
    font-size: 16px; 
    color: #333; 
    margin: 10px 0; 
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

h4 {
    color: green;
    margin-bottom: 30px;
    font-family: "Verdana", sans-serif; 
    font-size: 20px; 
    font-weight: bold; 
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
}

h5 {
    width: 250px;
}

h6 {
    font-size: 15px; 
    font-style: italic; 
    color: #333; 
}

.p-img {
    width: 250px;
}

img {
    border-radius: 50%;
    box-shadow:  8px 8px 18px rgba(7, 80, 7, 0.507), -8px -8px 18px rgba(0, 128, 0, 0.03);
}

.btn-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: rgb(10, 10, 10);  
    transition: color 0.3s ease;
    text-decoration: none;
}

.body-container {
    background-image: url('images/card-body-container-background.jpg');
    background-size: cover;
    width: 440px;
    top: 0;
    padding: 20px;
    border-radius: 40px;
    margin: auto;
    box-shadow:  8px 8px 18px rgba(7, 80, 7, 0.507), -8px -8px 18px rgba(0, 128, 0, 0.03);
}

.container-title {
    height: auto;
    width: 250px;
    color: rgb(7, 43, 18);
    background-color: white;
    background-image: linear-gradient(to bottom right, rgba(7, 80, 7, 0.223),  rgba(255, 255, 255, 0.03));
    border-color: transparent;
    box-shadow:  8px 8px 18px rgba(7, 80, 7, 0.507), -8px -8px 18px rgba(0, 128, 0, 0.03);
    margin: auto;
}

ol {
    list-style: none; 
    padding: 5px;
}

ol li {
    margin-bottom: 10px;
    padding-left: 20px; 
    position: relative;
    text-align: left;
}

ol li::before {
    content: counter(list-item); 
    color: #333; 
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 0;
}

ul {
    list-style-type: "➜"; 
    color: green; 
    
  }
  
.plant-card {
    width: 500px;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: bold;
    color: #333;
}

.recipe {
    margin-top: 20px;
}

.recipe-icon {
    font-size: 16px;
    color: #333;
    margin-right: 15px;
}

.card-header {
    font-weight: bold;
}

footer {
    color: #fff;
    background-image: linear-gradient(to bottom right, #333,  #525251);
    padding: 20px;
}

.whats-link {
    color: #25d366; 
    text-decoration: none;
    margin: 0 10px;
}

.insta-link {
    color: #bc2a8d; 
}

.tab {
    padding-left: 30px; 
  }





